input {
    width:300px
}

h1 {
    font-family: 'Lemon', serif;
}
*.dark {
    background-color: #112F41;
    color: #ffffff;
  }
  
  textarea {
    width:100%;
  }


  @media screen and (max-width: 992px){
     iframe {
      height: 450px!important;
      padding:30px!important;
     }
  }
  
  .highlight {
    background-color: crimson;
  }